/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: dimgray;
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 23px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}
.footer {
    position: fixed;
    height: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

body {
    margin-bottom:50px;
}



.whole1 {
    margin-top: 8.5%;
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap : nowrap;
    justify-content : flex-start;
    align-items : flex-start;
}

.inhalt1 {
    display: flex;
    flex-direction: column;
    flex-wrap : nowrap;
    justify-content : flex-start;
    align-items : flex-start;
    margin-left: 300px; /* Same as the width of the sidenav */
}

.sidenav {
    margin-top: 15%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 15%;
    background-color: #224120;
    opacity: 95%;
    overflow-x: hidden;
    padding-top: 7px;
    display: flex;
    flex-direction:column;
}

.sncontainer {
    color: #fff;
    border-radius: 3px;
    margin: 10px;
    width: calc(50% - 24px);
}

.sncontainer1 {
    color: #fff;
    border-radius: 3px;
    margin: 10px;
    width: calc(50% - 24px);
    text-align: center;
    align-self: center;
    transition: all ease-in-out .15s;
}

.fone {
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

select {
    width: 100%;
    border-radius: 3px;
    height: 20px;
}

#date, #time {
    width: calc(100% - 5px);
    border-radius: 3px;
    font-size: 90%;
    height: 20px;
}

#refine {
    border-radius: 3px;
    font-size: 90%;
    height: 25px;

    background-color: rosybrown;
    text-align: center;
    align-content: center;
    color: #fff;
    text-align: center;
    border: 2px solid #fff;
    transition: all ease-in-out .15s;
}

#refine:hover {
    transform: scale(1.05);
}

.kurse {
    display: flex;
    flex-wrap : wrap;

    width: 100%;
    height: 100%;
    margin-left: 5%;
}

.kurs {
    transition: all ease-in-out .15s;
    flex: 0 1 calc(33.3% - 22px);
    min-width:33.3%;
}

.kurs:hover {
    transform: scale(1.05);
}

.KursAnzeige {
    margin: 0 10px 10px 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction:column;

}

.KursBild {
    width: 100%;
    height: 80%;
    content:url(https://www.schoenzeit.ch/wp-content/uploads/2018/03/Platzhalterbild.jpg);
    border-radius: 3px 3px 0 0;
}

.Beschreibung {
    height: 20%;
    background-color: rosybrown;
    border-radius: 0 0 3px 3px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.KursName {
    font-size: 100%;
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

.KursZeit {
    font-size: 75%;
}

.filter1 {
    border: 1px solid white;
    width: inherit;
}

.filter2 {
    border: 1px solid white;
    width: inherit;
}

