<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Eventdetails</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="allPages/header :: header">...</div>

<div class="tableContainer" style="padding-bottom:80px;">
    <ul class="kursDetailBox" th:each = "event: ${events}">
        <li>
            <ul class="kursDetailInfo">Name</ul>
            <ul class="kursDetailInfoII" th:text="${event.name}"></ul>
            <ul class="kursDetailInfo">Beschreibung</ul>
            <ul class="kursDetailInfoII" th:text="${event.description}"></ul>
            <ul class="kursDetailInfo">Kategorie</ul>
            <ul class="kursDetailInfoII" th:text="${event.category.getDisplayValue()}"></ul>
            <ul class="kursDetailInfo">Seminarleiter(in)</ul>
            <ul class="kursDetailInfoII" th:text="${event.headSeminar.getDisplayValue()}"></ul>
            <ul class="kursDetailInfo">Dauer</ul>
            <ul class="kursDetailInfoII" th:text="${event.duration} + ' Stunden'"></ul>
            <ul class="kursDetailInfo">Raum</ul>
            <ul class="kursDetailInfoII" th:text="${event.location.getDisplayValue()}"></ul>
            <ul class="kursDetailInfo">Datum</ul>
            <ul class="kursDetailInfoII" th:text="${event.date}"></ul>
            <ul class="kursDetailInfo">Start</ul>
            <ul class="kursDetailInfoII" th:text="${event.startTime}"></ul>
            <ul class="kursDetailInfo">Ende</ul>
            <ul class="kursDetailInfoII" th:text="${event.endTime}"></ul>
            <ul class="kursDetailInfo">Verfügbare Plätze</ul>
            <ul class="kursDetailInfoII" th:text="${event.spots}"></ul>
            <br>
            <div>
                <a class="Index" type="button" style="background-color: rosybrown;border-radius: 5px;border-style:none;color:ghostwhite;alignment: left; text-decoration:none;" th:href="@{/overview}">
                    Zurück
                </a>
            </div>
        </li>
    </ul>

</div>
<div>
<a class="Index" type="button" style="background-color: rosybrown;border-radius: 5px;border-style:none;color:ghostwhite" th:href="@{/HR/event}">
    Abbrechen
</a>
</div>
<div th:replace="allPages/footer :: footer">...</div>
</body>
</html>