<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <title>Datenschutz</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="allPages/header :: header">...</div>
<div style="text-align: center;margin-top:26vh;font-size:20px;width:50%;margin-left:25vw;">
 Es werden keine personenbezogene Daten gespeichert und die Zugriffe auf die Seite werden nicht nachverfolgt. Bei Fragen wenden Sie sich an die im Impressum angegebene E-Mail-Adresse.
</div>


<div th:replace="allPages/footer :: footer">...</div>

</body>
</html>