<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <title>Impressum</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="allPages/header :: header">...</div>

<!DOCTYPE html>
<html>
<head>
    <title>Impressum</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <style>
        .mailto2{
            text-decoration:none;
            color: #005e52;
        }
        .mailto2:hover{
            font-size: 120%;
            transition-duration: 1s;
        }
    </style>
</head>
<div>
    <div style="margin-left:37vw;margin-top:26vh;">
        <div>
            <div>
                <div>
                    <table width="100%"><tr><td width="100vw" style="font-size: 25px;">Name und Anschrift</td><td style="font-size:20px;padding-left:5%" width="600vw">HSBA Projektgruppe 2<br>Willy-Brandt-Straße 75<br>20459 Hamburgbr<br>projekt.gruppe2@outlook.de<br></td></tr></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="allPages/footer :: footer">...</div>

</body>
</html>