<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <title>Impressum</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="allPages/header :: header">...</div>

<div>
    <div style="margin-left:30%; width: 40%; margin-top:30vh;">
        <div>
            <div>
                <div style="background-color: rosybrown; border-radius: 5px; padding:10px; color:ghostwhite;">
                    <table width="100%">
                        <tr>
                            <td width="50%" style="font-size: 28px;">Name und Anschrift</td>
                            <td style="font-size:20px;" width="50%">HSBA Projektgruppe 2<br>Willy-Brandt-Straße 75<br>20459 Hamburg<br>projekt.gruppe2@outlook.de<br></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="allPages/footer :: footer">...</div>

</body>
</html>