<!DOCTYPE HTML>
<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <title>Übersicht</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="allPages/header :: header">...</div>

<div class="whole1">
    <div class="inhalt1">
        <div class="sidenav">
            <div class="fone">
                <div class="sncontainer">Location: <br>
                    <select name="titel" id="titel">
                        <option value=""></option>
                        <option value="hamburg">Hamburg</option>
                        <option value="berlin">Berlin</option>
                        <option value="muenchen">München</option>
                    </select>
                </div>
                <div class="sncontainer">Kategorie: <br>
                    <select name="kategorie" id="kategorie">
                        <option value=""></option>
                        <option value="seminar">Seminar</option>
                        <option value="workshop">Workshop</option>
                        <option value="teamtag">Teamtag</option>
                    </select>
                </div>
                <div class="sncontainer">Datum: <br>
                    <input type="date" id="date" name="date">
                </div>
                <div class="sncontainer">Uhrzeit: <br>
                    <input type="time" id="time" name="time">
                </div>
                <div class="sncontainer1">
                    <input type="submit" id="refine" value="Suchen">
                </div>
            </div>

        </div>
    </div>



    <div th:each="event : ${events}">
        <div class="Event" >
            <div class="EventAnzeige">
                <div class="EventBild">

                </div>
                <div class="EventBeschreibung">
                    <div class="EventName" th:text="${event.name}"></div>
                    <div class="EventInfo" th:text="${event.description}"></div>
                    <div class="EventInfo" th:text="${event.category}"></div>
                    <div class="EventInfo" th:text="${event.duration}"></div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>



<!--<div>
    <form action="#" th:action="@{/overview}" th:object="${event}" method="post">
        <div class="form-row">
            <div class="col-md-6 form-group">
                <label>Veranstaltungs-ID</label>
                <input type="number" class="form-control" th:field="*{id}">
            </div>
            <div class="col-md-6 form-group">
                <label>Titel</label>
                <input type="text" class="form-control" th:field="*{name}">
            </div>
            <div class="col-md-6 form-group">
                <label>Kategorie</label>
                <select class="form-control" th:field="*{category}">
                    <option value="">Auswählen...</option>
                    <option value="Seminar">Seminar</option>
                    <option value="Workshop">Workshop</option>
                    <option value="Teamtag">Teamtag</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label>Dauer</label>
                <input type="number" class="form-control" th:field="*{duration}">
            </div>
            <div class="col-md-6 form-group">
                <input type="submit" value="Veranstaltung anlegen" />
            </div>
        </div>
    </form>
</div>-->

<!--    <div class="CourseList">
        <div>Kurs 1</div>
        <div>Kurs 2</div>
        <div>Kurs 3</div>
    </div>-->

<div th:replace="allPages/footer :: footer">...</div>

</body>
</html>
