
<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <title>Übersicht</title>
    <link rel="stylesheet" type="text/css"href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
</head>
<body>

<header>
    <div>Veranstaltungen/Plan</div>
    <div>Login</div>
    <div>Startseite/Index/Übersicht</div>
</header>

<form action="Platzhalter für Info aus dem Controller" class="OverviewController">
    <div class="Filter">
        <div>Filter 1</div>
        <div>Filter 2</div>
        <div>Filter 3</div>
    </div>
    <div class="CourseList">
        <div>Kurs 1</div>
        <div>Kurs 2</div>
        <div>Kurs 3</div>
    </div>
</form>


</body>
</html>