<!DOCTYPE HTML>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <title>Übersicht</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="allPages/header :: header">...</div>

<div class="whole1" style="padding-bottom:100px;">
    <div class="inhalt1">
        <div class="sidenav" style="background-color: grey;">
            <form method="POST" th:action="@{/filterEvents}" th:object="${filter}">
            <div class="fone">
                <div class="sncontainer">Standort: <br>
                    <select id="location" th:field="*{selectedLocation}" style="width: 175px; height: 20px;">
                        <option th:value="${null}" selected>Standort auswählen</option>
                        <option th:each="location : ${T(de.hsba.bi.project.events.Location).values()}" th:value="${location}"
                                th:text="${location.displayValue}">
                        </option>
                    </select>
                </div>
                <div class="sncontainer">Kategorie: <br>
                    <select id="category" th:field="*{selectedCategory}" style="width: 175px; height: 20px;">
                        <option th:value="${null}" selected>Kategorie auswählen</option>
                        <option th:each="category : ${T(de.hsba.bi.project.events.Category).values()}" th:value="${category}"
                                th:text="${category.displayValue}">
                        </option>
                    </select>
                </div>
                <div class="sncontainer">
                    <label>Datum:</label>
                    <input type="date" th:field="*{selectedDate}" style="width: 175px; height: 20px;">
                </div>
                <div class="sncontainer">Tageszeit: <br>
                    <select id="daytime" th:field="*{selectedDaytime}" style="width: 175px; height: 20px;">
                        <option th:value="${null}" selected>Tageszeit auswählen</option>
                        <option th:each="daytime : ${T(de.hsba.bi.project.events.Daytime).values()}" th:value="${daytime}"
                                th:text="${daytime.displayValue}">
                        </option>
                    </select>
                </div>
                <br>
                <div class="sncontainer1">
                    <input type="submit" id="refine" value="Suchen">
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="overviewParent">
        <div th:each="event : ${events}" class="overviewChild">
            <div class="Event" >
                <div class="EventAnzeige">
                    <div class="EventBild">

                    </div>
                    <div class="EventBeschreibung">
                        <div class="EventName" th:text="${'Name: ' + event.name}" th:value="${event.name}"></div>
                        <div class="EventInfo" th:text="${'Kategorie: ' + event.category}" th:value="${event.category}"></div>
                        <div class="EventInfo" th:text="${'Dauer: ' + event.duration} + ' Stunden'" th:value="${event.duration}"></div>
                        <div class="EventInfo" th:text="${'Standort: ' + event.location}" th:value="${event.location}"></div>
                        <div class="EventInfo" th:text="${'Datum: ' + event.date}" th:value="${event.date}"></div>
                        <div class="EventInfo" th:text="${'Tageszeit: ' + event.time}+ ' Uhr'" th:value="${event.time}"></div>
                        <div class="EventInfo" th:text="${'Verfügbare Plätze: ' + event.spots}" th:value="${event.spots}"></div>
                        <div class = "header" style="background-color: rosybrown;">
                            <div th:switch="${event.isClosed}">
                                <a th:case="false" th:href="@{/bookingOverview/{id}(id=${event.id})}">Buchen</a>
                                <p th:case="true">Geschlossen</p>
                            </div>
                            <div class = "header" style="background-color: rosybrown; padding: 1px 1px;">
                                <a th:href="@{/kursDetails/{id}(id=${event.id})}">
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

<!--<div>
    <form action="#" th:action="@{/overview}" th:object="${event}" method="post">
        <div class="form-row">
            <div class="col-md-6 form-group">
                <label>Veranstaltungs-ID</label>
                <input type="number" class="form-control" th:field="*{id}">
            </div>
            <div class="col-md-6 form-group">
                <label>Titel</label>
                <input type="text" class="form-control" th:field="*{name}">
            </div>
            <div class="col-md-6 form-group">
                <label>Kategorie</label>
                <select class="form-control" th:field="*{category}">
                    <option value="">Auswählen...</option>
                    <option value="Seminar">Seminar</option>
                    <option value="Workshop">Workshop</option>
                    <option value="Teamtag">Teamtag</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label>Dauer</label>
                <input type="number" class="form-control" th:field="*{duration}">
            </div>
            <div class="col-md-6 form-group">
                <input type="submit" value="Veranstaltung anlegen" />
            </div>
        </div>
    </form>
</div>-->

<div th:replace="allPages/footer :: footer">...</div>

</body>
</html>
