<!DOCTYPE HTML>
<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <title>Nutzer anlegen</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="allPages/header :: header">...</div>
<br>
<h2 style="text-align: center;">Neuen User anlegen</h2>
<br>
<div style="margin-left:34vw;font-size:20px;padding-bottom:100px;">
    <form action="#" th:action="@{/HR/createUser}" th:object="${user}" method="post">
        <div class="form-row">
            <div class="col-md-6 form-group">
                <label>Vorname</label>
                <input type="text" class="form-control" maxlength="30" th:field="*{firstName}"
                       th:classappend="${#fields.hasErrors('firstName')? 'is-invalid' : ''}"/>
                <span class="text-danger" th:errors="*{firstName}"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>Nachname</label>
                <input type="text" class="form-control" maxlength="30" th:field="*{lastName}"
                       th:classappend="${#fields.hasErrors('lastName')? 'is-invalid' : ''}"/>
                <span class="text-danger" th:errors="*{lastName}"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>Benutzername</label>
                <input type="text" class="form-control" maxlength="30" th:field="*{userName}"
                       th:classappend="${#fields.hasErrors('userName')? 'is-invalid' : ''}"/>
                <span class="text-danger" th:errors="*{userName}"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>Passwort</label>
                <input type="password" class="form-control" maxlength="40" th:field="*{password}"
                       th:classappend="${#fields.hasErrors('password')? 'is-invalid' : ''}"/>
                <span class="text-danger" th:errors="*{password}"></span>
            </div>
            <div class="col-md-6 form-group">
                <label>Rollen</label>
                <select class="form-control" th:field="*{roles}" multiple>
                    <option th:value="${null}" selected>Bitte wähle mindestens eine Rolle..</option>
                    <option th:each="role: ${listRoles}" th:value="${role.id}" th:text="${role.role}"
                            th:classappend="${#fields.hasErrors('roles')? 'is-invalid' : ''}"></option>
                    <span class="text-danger" th:errors="*{roles}"></span>
                </select>
            </div>
            <div style="width:50%;">
                Um mehrere Rollen zu wählen, halte die Steuerungs-Taste (Windows) oder die Command-Taste (Mac) gedrückt und klicke anschließend auf die gewünschten Rollen.
            </div>
            <br>

            <div>
            <input class="Index" type="submit" style="background-color: rosybrown;border-radius: 5px;border-style:none;color:ghostwhite" value="User anlegen"/>
            </div>
            <br>
            <a class="Index" type="button" style="background-color: rosybrown;border-radius: 5px;border-style:none;color:ghostwhite; text-decoration:none;" th:href="@{/index}">
                Abbrechen
            </a>
            <br>
            <div th:text="${error}">
        </div>

        </div>
    </form>


</div>

<div th:replace="allPages/footer :: footer">...</div>

</body>
</html>