<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
  <title>User bearbeiten</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="allPages/header :: header">...</div>
<br>
<h2 style="text-align: center;">Bearbeitung des Users</h2>
<br>
<div style="margin-left:34vw;font-size:20px;">
  <form action="#"  th:action=" @{${'/HR/userlist/edit/' + id}}" th:object="${userForm1}" method="post">
    <div class="form-row">
      <div class="col-md-6 form-group">
        <label>Name</label>
        <input type="text" class="form-control" th:field="*{name}"
               th:classappend="${#fields.hasErrors('name')? 'is-invalid' : ''}"/>
        <span class="text-danger" th:errors="*{name}"></span>
      </div>
      <div class="col-md-6 form-group">
        <label>Rollen</label>
        <select class="form-control" th:field="*{roles}" multiple>
          <option th:value="${null}" selected>Bitte wähle mindestens eine Rolle..</option>
          <option th:each="role: ${listRoles}" th:value="${role.id}" th:text="${role.role}"
                  th:classappend="${#fields.hasErrors('roles')? 'is-invalid' : ''}"></option>
          <span class="text-danger" th:errors="*{roles}"></span>
        </select>
      </div>
      <div>
        Um mehrere Rollen zu wählen, halte die Steuerungs-Taste (Windows) oder die Command-Taste (Mac) gedrückt und klicke anschließend auf die gewünschten Rollen.
      </div>
      <br>
      <div>
        <input class="Index" type="submit" style="background-color: rosybrown;border-radius: 5px;border-style:none;color:ghostwhite" value="User bearbeiten"/>
      </div>
      <div>
        <br>
        <a class="Index" type="button" style="background-color: rosybrown;border-radius: 5px;border-style:none;color:ghostwhite; text-decoration:none;" th:href="@{/HR/userlist}">
          Abbrechen
        </a>
      </div>
      <br>
      <div th:text="${error}">
        </div>
      <div th:text="${error2}">
      </div>
      <div th:text="${error3}">
      </div>
      <div th:text="${error4}">
      </div>
      <div th:text="${error5}">
      </div>
    </div>
  </form>
</div>

<div th:replace="allPages/footer :: footer">...</div>

</body>
</html>