<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Userliste</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<div th:replace="allPages/header :: header">...</div>
<br>
<h2 style="text-align: center;">Liste aller User</h2>
<br>
<div style="padding-bottom: 100px;">
<table style="background-color: #f5f5f5; color:black; margin-left:25vw; width:50%;font-size:20px;border: 1px solid #ccc; border-collapse: collapse;">
    <tr style="font-weight:bold;font-style:italic;">
        <td>Benutzername</td>
        <td>Rolle</td>
        <td>Status</td>
        <td></td>
    </tr>
    <tr th:each = "user: ${users}">
        <td style="width:50%;" th:text="${user.name}"></span></td>
        <td style="width:50%;" th:text="${user.roles}"></span></td>
        <td style="width:50%;">
            <div th:switch="${user.isEnabled}">
                <a th:case="true">Aktiviert</a>
                <a th:case="false" >Deaktiviert</a>
            </div>
        </td>
        <td>
            <div class="link1">
                <a th:href="${'/HR/userlist/delete/' + user.id}">Löschen</a>
                <a th:href="${'/HR/userlist/edit/' + user.id}">Bearbeiten</a>

                <div th:switch="${user.isEnabled}">
                    <a th:case="true" th:href="${'/HR/userlist/disable/' + user.id}">Deaktivieren</a>
                    <a th:case="false" th:href="${'/HR/userlist/enable/' + user.id}">Aktivieren</a>
                </div>
            </div>
        </td>
    </tr>
</table>
<br>
<div style="margin-left:25vw;" th:text="${error}">
</div>
<div style="margin-left:25vw;" th:text="${error2}">
</div>
<br>
</div>
<div th:replace="allPages/footer :: footer">...</div>

</body>
</html>
