<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Veranstaltungsliste</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<div th:replace="allPages/header :: header">...</div>
<br>
<h2 style="text-align: center;">Liste der Veranstaltungen</h2>
<br>
<table style="background-color: #DCDCDC; color:black; margin-left:10vw; width:80%;font-size:20px;border-radius: 5px;">
    <tr style="font-weight:bold;font-style: italic;">
        <td>Name</td>
        <td>Beschreibung</td>
        <td>Kategorie</td>
        <td>Dauer</td>
        <td>Anzahl Teilnehmer</td>
        <td>Standort</td>
        <td>Datum</td>
        <td>Tageszeit</td>
        <td>Status</td>
    </tr>
    <tr th:each="event : ${events}">
        <td style="width:12%;" th:text="${event.name}"></td>
        <td style="width:12%;" th:text="${event.description}"></td>
        <td style="width:12%;" th:text="${event.category}"></td>
        <td style="width:12%;" th:text="${event.duration}"></td>
        <td style="width:12%;" th:text="${event.spots}"></td>
        <td style="width:12%;" th:text="${event.location}"></td>
        <td style="width:12%;" th:text="${event.date}"></td>
        <td style="width:12%;" th:text="${event.time}"></td>
        <td style="width:12%;" th:text="${event.isClosed}"></td>
        <td>
            <div class="link" style="background-color: #DCDCDC;">
                <a th:href="${'/eventPlanner/event/delete/' + event.id}">Löschen</a>
                <a th:href="${'/eventPlanner/event/edit/' + event.id}">Bearbeiten</a>
                 <a th:href="${'/eventPlanner/event/close/' + event.id}">Schließen</a>
            </div>
        </td>
    </tr>
</table>
</div>
<div th:replace="allPages/footer :: footer">...</div>

</body>
</html>
