<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>

<footer>
    <div style="padding-right: 40%" class="header footer">
        <div class="header-right">
            <!--<a class="active" th:href="@{/kontakt}">Kontakt</a>-->
            <a th:href="@{/datenschutzerklärung}">Datenschutz</a>
            <a th:href="@{/impressum}">Impressum</a>
        </div>
    </div>
</footer>

</html>
