<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<header>
    <div class="header" sec:authorize="anonymous">
        <a style="font-size: 35px; padding: 20px; color: rosybrown;" th:href="@{/index}" class="logo">MOCA</a>
        <div class="header-right"><a style="padding: 20px;margin-right: 50px;" th:href="@{/login}">Login</a></div>
    </div>
    <div class="header" sec:authorize="authenticated">
        <a style="font-size: 35px; padding: 20px; color: rosybrown;" th:href="@{/index}" class="logo">MOCA</a>
        <div class="header-right" style="text-align: center">
            <div class="auswahl">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" style="border: none;background-color: dimgray;color: white;">
                        <a><span th:text="${#httpServletRequest.remoteUser}" /> abmelden</a>
                    </button>
                </form>
            </div>
            <div class="auswahl">
                <a th:href="@{/editPassword}">Passwort ändern</a>
            </div>
            <div class="auswahl">
                <a th:href="@{/overview}">Veranstaltung buchen</a>
            </div>
            <div class="auswahl">
                <a th:href="@{/booking}">Buchungen ansehen</a>
            </div>
            <div class="auswahl" sec:authorize="hasRole('TERMINVERWALTER')">
                <a th:href="@{/eventPlanner/createEvent}" >Veranstaltung erstellen</a>
            </div>
            <div class="auswahl" sec:authorize="hasRole('PERSONALABTEILUNG')">
                <a th:href="@{/HR/createUser}" >Neuen User anlegen</a>
            </div>
            <div class="auswahl" sec:authorize="hasRole('TERMINVERWALTER')">
                <a th:href="@{/eventPlanner/event}">Veranstaltungen ansehen</a>
            </div>
        </div>
    </div>
</header>
</html>