<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>


<header>
    <div class="header">
        <a style="font-size: 30px;" th:href="@{/index}" class="logo">MOCA</a>
        <div class="header-right">
            <a class="active" th:href="@{/index}">Startseite</a>
            <a th:href="@{/overview}">Veranstaltungen</a>
            <a th:href="@{/login}">Login</a>
        </div>
    </div>
</header>

</html>
